---
import BodyLayout from "@layouts/BodyLayout.astro";
---

<BodyLayout title="About">
  <section class="text-customGray dark:text-customBlack">
    <h1 class="text-2xl font-bold">About</h1>
    <p class="mt-4">
      I'm a software engineer and writer based in Tijuana, México. I'm
      passionate about web development, tech, and writing. I'm currently working
      at <span class="font-bold text-white dark:text-orange-300"
        >Samsung Research Tijuana</span
      >
      as an Architecture Engineer.
    </p>
    <h2 class="mt-4 text-2xl font-bold">Tech</h2>
    <p class="mt-4">
      I work with a variety of technologies. It's difficult for me to list all
      the stuff I know or I have work with, so just to list a few:
    </p>
    <ul class="mt-4 ml-8 flex flex-col gap-2 list-disc list-inside">
      <li>Languages: Javascript, Typescript, C++, Python</li>
      <li>Frontend: Vue, React, Astro</li>
      <li>Backend: Node, Express, Deno</li>
      <li>Databases: MongoDB, SQLite, PostgreSQL</li>
    </ul>
    <h2 class="mt-4 text-2xl font-bold">Experience</h2>
    <p class="mt-4">
      As for my experience, please refer to my
      <a
        class="font-bold text-customGreen"
        href="https://www.linkedin.com/in/rogelio-romo"
        target="_blank"
        >Linkedin
      </a>
      to see my curriculum. I keep it updated.
    </p>
  </section>
</BodyLayout>
