---
import BodyLayout from "@layouts/BodyLayout.astro";
import Curriculum from "@components/about/Curriculum.astro";
---

<BodyLayout title="About">
  <section class="text-customGray dark:text-customBlack">
    <h1 class="text-2xl font-bold">About</h1>
    <p class="mt-4">
      I'm a software engineer and blog writer based in Tijuana, México. I'm
      passionate about development, tech, and engineering. I'm currently working
      at <span class="font-bold text-white dark:text-orange-300"
        >Samsung Research Tijuana</span
      >
      as an Architecture Engineer.
    </p>
    <h2 class="mt-4 text-2xl font-bold">Curriculum</h2>
    <p class="mt-4">
      As for my experience please take a look, you can also visit my
      <a
        class="font-bold text-customGreen"
        href="https://www.linkedin.com/in/rogelio-romo"
        target="_blank"
        >Linkedin
      </a>
      if you prefer. I keep it updated.
    </p>
    <Curriculum />
  </section>
</BodyLayout>
