---

---

<section class="mt-16">
  <h2 class="mb-4 font-bold text-xl text-customGreen">Posts</h2>
  <ul class="text-customGray flex flex-col gap-4">
    <li class="flex flex-row">
      <p class="mr-16">26 Oct 2024</p>
      <a class="underline decoration-2 hover:decoration-customPink" href=""
        >Link to post</a
      >
    </li>
  </ul>
</section>
