---
import TypedBlogPost from "@components/posts/TypedBlogPost.astro";
import { getCollection } from "astro:content";

const blogPosts = await getCollection("blog");
---

<section class="mt-16">
  <a class="font-bold text-xl text-customGreen" href="/blog"
    ><h2 class="mb-4">Posts</h2></a
  >

  <ul class="text-customGray flex flex-col gap-4">
    {blogPosts.map((post) => <TypedBlogPost post={post} />)}
  </ul>
</section>
