---
import { Image } from "astro:assets";
import rubiksCube from "../../assets/svg/rubiks-cube.svg";
---

<header class="flex flex-row gap-6 mb-16">
  <div class="">
    <a href="/">
      <Image src={rubiksCube} alt="Logo rubiks cube" width={80} height={80} />
    </a>
  </div>
  <div class="flex flex-col gap-2">
    <a href="/">
      <h2 class="text-customGray dark:text-customBlack font-bold text-2xl">
        Rogelio's Blog
      </h2>
    </a>
    <nav>
      <ul class="text-customGreen font-200 flex flex-row gap-4">
        <li class="border-r-2 border-customGreen pr-4 hover:underline">
          <a href="/">Home</a>
        </li>
        <li class="border-r-2 border-customGreen pr-4 hover:underline">
          <a href="/about">About</a>
        </li>
        <li class="border-r-2 border-customGreen pr-4 hover:underline">
          <a href="/blog/1">Blog</a>
        </li>
        <li class="hover:underline">
          <a href="/notes/1">Notes</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="flex flex-row gap-2 items-start pt-4 ml-auto">
    <button
      id="themeButton"
      class="text-customGray hover:text-customGreen dark:text-customBlack dark:hover:text-customGreen"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="38"
        height="38"
        viewBox="0 0 256 256"
        class="fill-current"
        ><path
          fill="currentColor"
          d="M238 96a6 6 0 0 1-6 6h-18v18a6 6 0 0 1-12 0v-18h-18a6 6 0 0 1 0-12h18V72a6 6 0 0 1 12 0v18h18a6 6 0 0 1 6 6m-94-42h10v10a6 6 0 0 0 12 0V54h10a6 6 0 0 0 0-12h-10V32a6 6 0 0 0-12 0v10h-10a6 6 0 0 0 0 12m71.25 100.28a6 6 0 0 1 1.07 6A94 94 0 1 1 95.76 39.68a6 6 0 0 1 7.94 6.79A90.11 90.11 0 0 0 192 154a91 91 0 0 0 17.53-1.7a6 6 0 0 1 5.72 1.98m-14.37 11.34q-4.42.38-8.88.38A102.12 102.12 0 0 1 90 64q0-4.45.38-8.88a82 82 0 1 0 110.5 110.5"
        ></path></svg
      >
    </button>
  </div>
</header>
