---
import FooterComponent from "@components/common/FooterComponent.astro";
import HeaderComponent from "@components/common/HeaderComponent.astro";
---

<HeaderComponent />
<main>
  <slot />
</main>
<FooterComponent />
